html{
  background-color: #FDF5DF;
}
body {
  font-size: 30px;
  text-align: center;
  margin: auto auto;
  padding: 50px 100px 50px 100px;
}
#fact{
  background-color: #F92C85;
  color: white;
  padding: 20px;
  width: 1000px;
  position: relative;
  left: 10%;
  border-radius: 20px;
}

#startText{
  color: #4b97d9;
  width: 1000px;
  margin: auto auto;
  padding: 50px 100px 50px 100px;
}

#button{
  background-color: #F92C85;
  color: white;
  width: 190px;
  margin: auto auto;
  padding: 20px;
  border-radius: 20px;
}
