html{
  background-color: #c4efe7;
}

body {
  font-size: 50px;
  text-align: center;

  margin: auto auto;
  padding: 50px 100px 50px 100px;
}

#startText{
  color: #4b97d9;
  width: 600px;
}

#button{
  background-color: #9B4FD9;
  color: white;
  padding: 0.5rem;
  width: 190px;
}
