html{
  background-color: #c4efe7;
}
body {
  font-size: 30px;
  text-align: center;
  margin: auto auto;
  padding: 50px 100px 50px 100px;
}
#fact{
  background-color: #4b97d9;
  color: white;
  padding: 20px;
  width: 1000px;
  position: relative;
  left: 10%;
  border-radius: 20px;
}

#startText{
  color: #4b97d9;
  width: 1000px;
  margin: auto auto;
  padding: 50px 100px 50px 100px;
}

#button{
  background-color: #9B4FD9;
  color: white;
  width: 190px;
  margin: auto auto;
  padding: 20px;
}
